<div class="all">
<div class="container-h">

 <div class="ligne2">
    <div class="sub-block">
      <h1><strong>Are you still checking your GA data manually?</strong></h1>
      <h4>Surelytics is the best tool to manage your analytics tests and run data quality tests.</h4>
      <%= link_to "Start now", new_user_registration_path, class: "btn btn-primary"  %>
    </div>
    <div class="image-block">
      <%= image_tag "surelytics_homeboy.png",  :class => "style_image"%>
    </div>
  </div>
</div>

<div class="container-h">
    <div class="cards-home">
      <!-- <div class="ligne"> -->
        <div class="carding-home">
          <div class="img-run-detail"><%= image_tag "analytics2.jpg" %>
            <div class="sub-img">
              <p>Always have quality data with clear visual cues.</p>
            </div>
          </div>
        </div>
        <div class="carding-home">
          <div class="img-run-detail"><%= image_tag "analytics3.jpg" %>
            <div class="sub-img">
              <p>Monitor customized GA data in a simple way</p>
            </div>
          </div>
        </div>


        <div class="carding-home">
          <div class="img-run-detail"><%= image_tag "analytics-data.jpg" %>
            <div class="sub-img">
              <p>More time analysing data instead of fixing bugs</p>
            </div>
          </div>
        </div>
        <div class="carding-home">
          <div class="img-run-detail"><%= image_tag "analytics-search.jpg" %>
            <div class="sub-img">
              <p>You are notified by email in real time when a test is incorrect.
</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="ligne3">
  <div class="container-h">
    <div class="ligne">
      <div class="carding-home">
        <div class="sub-img">
          <h3>FREE</h3>
          <%= image_tag "free.svg", :class => "price_img"  %>
          <p>15 Credits / month to play with Surelytics</p>
           <%= link_to "Try free", new_user_registration_path, class: "btn btn-primary"  %>
        </div>
      </div>
      <div class="carding-home">
        <div class="sub-img">
          <h3>PRO</h3>
          <%= image_tag "pro.svg", :class => "price_img" %>
          <p>50€/month for 100 tests <br> Buy credits on demand</p>
           <%= link_to "Get started", new_user_registration_path, class: "btn btn-primary"  %>
        </div>
      </div>
      <div class="carding-home">
        <div class="sub-img">
          <h3>AGENCY</h3>
          <%= image_tag "agency.svg", :class => "price_img" %>
          <p>Custom plans to best serve your clients</p>
          <%= link_to "Contact us", new_user_registration_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-h">
  <div class="ligne-4">
      <div class="before-end">
        <h1><strong>Surelytics</strong></h1>
        <h4>Much more detailed approach to help and pinpoint data quality problems.<br>Faster & proactive problem resolution.</h4>
        <br>
         <%= link_to "GET STARTED", new_user_registration_path, class: "btn btn-primary"  %>
      </div>
  </div>
</div>

<div class="footer">
  <div class="container-h">
    <p>Copyright © 2019 Surelytics. All Rights Reserved.</p>
  </div>
</div>
</div>
