<div class="container">
  <h1 id="home-title">Welcome to Surelytics</h1>
  <div class="ligne">
    <div class="carding-home">
      <div class="img-run-detail"><%= image_tag "analytics1.jpg" %>
        <div class="sub-img">
          <p>Custom analytics is the only path to insights</p>
        </div>
      </div>
    </div>
    <div class="carding-home">
      <div class="img-run-detail"><%= image_tag "analystics.jpg" %>
        <div class="sub-img">
          <p>But is also a source of errors</p>
        </div>
      </div>
    </div>
    <div class="carding-home">
      <div class="img-run-detail"><%= image_tag "analytics2.jpg" %>
        <div class="sub-img">
          <p>Hence requiring monitoring for data integrity</p>
        </div>
      </div>
    </div>
  </div>

  <div class="ligne2">
    <div class="sub-block">
      <h2>Solution to analytics tests</h2>
      <p>Surelytics is the best tool to manage your analytics tests and run data quality tests.</p>
      <button type="button" class="btn btn-primary">Start now</button>
    </div>
    <div class="image-block">
      <%= image_tag "surelytics_homeboy.png",  :class => "style_image"%>
    </div>
  </div>
</div>

<div class="ligne3">
  <div class="container">
  <div class="ligne">
    <div class="carding-home">
      <h3>FREE</h3>
      <div class="img-run-detail"><%= image_tag "analytics1.jpg" %>
        <div class="sub-img">
          <p>Custom analytics is the only path to insights</p>
        </div>
      </div>
    </div>
    <div class="carding-home">
      <h3>PRO</h3>
      <div class="img-run-detail"><%= image_tag "analystics.jpg" %>
        <div class="sub-img">
          <p>But is also a source of errors</p>
        </div>
      </div>
    </div>
    <div class="carding-home">
      <h3>ANGENCY</h3>
      <div class="img-run-detail"><%= image_tag "analytics2.jpg" %>
        <div class="sub-img">
          <p>Hence requiring monitoring for data integrity</p>
        </div>
      </div>
    </div>
  </div>
</div>
