<%= link_to "Back to #{current_user.organization.name}", organization_path %>

<div class="container">
  <h1><%= @project.name %></h1>
  <h3><%= link_to "Create new test", new_project_test_path(@project)  %></h3>

  <h2>Your tests</h2>
  <% @project.tests.each do |test| %>
  <p><%= test.name %> | <%= link_to "see details", project_test_path(@project, test) %> | <%= link_to "edit", edit_project_test_path(@project, test) %></p>
  <% end %>
</div>
