<div class="container" id="project-container">
  <div class="container-title">
    <h2><%= @project.name %> </h2>
      <%= link_to 'New test', new_project_test_path(@project), class:'btn btn-warning' %>
  </div>
    <h6 class="project-link"><%= link_to "#{current_user.organization.name}", organization_path %></h6>

    <div class="project-cards">

    <% if @incorrect_tests.present? %>
      <% @incorrect_tests.each do |test| %>
        <%= link_to project_test_path(@project, test) do %>
          <div class="project-card">
              <% if test.name.length >= 19  %>
                <h5><%= test.name.slice(0, 19) %>[...]</h5>
              <% else %>
                <h5><%= test.name %></h5>
              <% end %>
              <p><i class="far fa-calendar-alt"></i> <%= test.updated_at.strftime"%d %B %Y at %H:%M" %></p>
              <div class="correct">
                <i class="far fa-times-circle"></i>
              </div>
              <button class="btn btn-primary">See report</button>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% if @correct_tests.present? %>
      <% @correct_tests.each do |test| %>
        <%= link_to project_test_path(@project, test) do %>
          <div class="project-card">
            <% if test.name.length >= 19  %>
              <h5><%= test.name.slice(0, 19) %>[...]</h5>
            <% else %>
              <h5><%= test.name %></h5>
            <% end %>
            <p><i class="far fa-calendar-alt"></i> <%= test.updated_at.strftime"%d %B %Y at %H:%M" %></p>
            <div>
            <i class="far fa-check-circle"></i>
            </div>
            <button class="btn btn-primary">See report</button>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% if @no_results_tests.present? %>
      <% @no_results_tests.each do |test| %>
        <div class="project-card">
          <% if test.name.length >= 25  %>
            <h5><%= test.name.slice(0, 25) %>[...]</h5>
          <% else %>
            <h5><%= test.name %></h5>
          <% end %>
          <p>Waiting for first test!</p>
          <div>
          <i class="fas fa-history"></i>
          </div>
        </div>
      <% end %>
    <% end %>

    </div>
  </div>
