
<div class="container">
<%= link_to "Back to #{current_user.organization.name}", organization_path, class:"btn btn-warning" %>
  <div class="background">
    <h3><%= @project.name %> <%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, new_project_test_path(@project)  %></h1>

    <div class="cards">
        <% @project.tests.each do |test| %>
          <% unless test.results.last.correct %>
            <%= link_to project_test_path(@project, test) do %>
              <div class="card card-project">
                <h6><%= test.name %></h6>
                <p><i class="far fa-calendar-alt"></i> <%= test.updated_at %></p>
                <i class="far fa-times-circle"></i>
                <button class="btn btn-primary">See report</button>
              </div>
            <% end %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
