<div class="container">

  <div class='d-flex'>
  <!-- Credits / Users info -->
    <div class="pricing">
      <div>150 monthly credits</div>
      <div>Free plan</div>
      <div><%= link_to "Upgrade plan"%></div>
    </div>

    <div>
      <%= @organization.current_credits %> Credit(s) left <br>
      <%= link_to "Purchase extra credits"%>
    </div>

    <div>
      <%= @organization.users.count %> user(s) <br>
      <%= link_to 'Manage users', new_organization_user_path%>
    </div>
  </div>


  <canvas
  class="graph"
  id="chart-line"
  >
  </canvas>

  <div class="projects-grid">
    <% @projects.each do |project| %>
      <div>
        <%= project.name %>
        <%= project.tests.count %> test(s)
        <%= link_to 'Eye picto', project_path(project) %>
      </div>

      <% tests_with_results = project.tests.select {|test| !test.results.empty? } %>

      <div><%=  error = tests_with_results.map {|test| test.results.last.number_incorrect_values }.sum %> incorrect values</div>
    <% end %>
  </div>



</div>


