<!-- <div class="container">
  <h2><%= @organization.name %></h2>
    <div class="orga-section">
      <div class="orga-section-headline d-flex">
        <h3><i class="fas fa-money-check-alt" id="menu-icon"></i> Credits</h3>
        <button type="button" class="btn btn-primary">Purchase extra credits</button>
      </div>

      <div id="credits_display" class="d-flex">
          <div >
            <div class="card-header">Monthly credits</div>
            <div class="card-details-title card-details-title-center"><h2><%= @organization.monthly_credits %></h2></div>
          </div>

          <div>
            <div class="card-header">Current credits</div>
            <div class="card-details-title card-details-title-center"><h2><%= @organization.current_credits %></h2></div>
          </div>
      </div>
    </div>

    <div class="orga-section">
      <div class="orga-section-headline d-flex">
        <h3><i class="fas fa-user-tie" id="menu-icon"></i> Users</h3>
          <button type="button" class="btn btn-primary">
        <%= link_to 'New user', new_organization_user_path %>
          </button>
      </div>

      <div class="d-flex users_display">
        <% @organization.users.each do |user| %>
        <div class="home-user">
          <i class="far fa-user-circle"></i>
          <div class="user-card"><%= user.email %></div>
          <div>Edit user info</div>
        </div>
        <% end%>
      </div>
    </div>

    <div class="orga-section">
      <div class="orga-section-headline d-flex">
        <h2><i class="fas fa-cogs" id="menu-icon"></i> Projects</h2>
        <button type="button" class="btn btn-primary">Create new project</button>
      </div>

        <% @projects.each do |project| %>
          <div class="card-header">
            <h4><%= project.name.capitalize %>  | <%= link_to '<i class="far fa-eye"></i>'.html_safe, project_path(project) %>
            </h4>
          </div>

        <div class="card-details-title">
          <% if project.tests.exists? %>
            <% project.tests.each do |test| %>
              <h6><%= test.name.capitalize %> | <%= link_to '<i class="fas fa-search-plus"></i>'.html_safe, project_test_path(project, test) %> </h6>
              <div class="card-details-content">
                <p>
                  <i class="fas fa-hourglass-half"></i>
                  <%= test.frequency.capitalize %>
                </p>
                <p>
                  <i class="far fa-calendar-alt"></i> <%= test.created_at %>
                </p>
              </div>
            <% end %>
          <% else %>
            <p>There isn't any test yet in <%= project.name %></p>
            <button type="button" class="btn btn-primary">
              <%= link_to 'New test', new_project_test_path(project.id) %>
            </button>
          <% end %>
        </div>
      <% end %>
   </div>
</div>

<h1>---------------------</h1>

<div class="container-h">
  <div class="ligne2">
  <h1><%= @organization.name %></h1>
  <div class="d-flex">
    <div class= "card_orga">
      <div class="orga-section-headline d-flex">
        <h3><i class="fas fa-money-check-alt" id="menu-icon"></i> Credits <%= @organization.monthly_credits %>/month</h3>
        <%= link_to "Extra credits", "#", class: "btn btn-primary"  %>
      </div>

      <div id="credits_display" class="d-flex">
          <div>
            <div class="card-header">Current credits</div>
            <div class="card-details-title card-details-title-center"><h2><%= @organization.current_credits %></h2></div>
          </div>
      </div>
    </div>

    <div class= "card_orga">
      <div class="orga-section-headline d-flex">
        <h3><i class="fas fa-user-tie" id="menu-icon"></i> Users</h3>
          <%= link_to "New user", new_organization_user_path, class: "btn btn-secondary"  %>
      </div>
      <div div id="credits_display" class="d-flex">
        <div class="home-user">
          <i class="far fa-user-circle"></i>
          <h2 class="card-details-title-center"><%= @organization.users.count %></h2>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="ligne2">
<div class="container-h">
  <div class= "card">
<div class="orga-section">
      <div class="orga-section-headline d-flex">
        <h2><i class="fas fa-cogs" id="menu-icon"></i> Projects</h2>
        <button type="button" class="btn btn-primary">Create new project</button>
      </div>
  <div class= "card">
    <%= image_tag "place-graph.png", :class => "fake_image"%>
    </%>
    </div>
  </div>
      <div class="project-container">
        <% @projects.each do |project| %>
        <div class= "boxed">
          <div class="card-header">
            <h4><%= project.name.capitalize %>  | <%= link_to '<i class="far fa-eye"></i>'.html_safe, project_path(project) %>
            </h4>
          </div>

          <div class="card-details-title">
            <% if project.tests.exists? %>
              <% project.tests.each do |test| %>
                <h6><%= test.name.capitalize %> | <%= link_to '<i class="fas fa-search-plus"></i>'.html_safe, project_test_path(project, test) %> </h6>
                <div class="card-details-content">
                  <p>
                    <i class="fas fa-hourglass-half"></i>
                    <%= test.frequency.capitalize %>
                  </p>
                  <p>

                    <i class="far fa-calendar-alt"></i> <%= test.created_at %>
                  </p>
                </div>
              <% end %>
            <% else %>
              <p>There isn't any test yet in <%= project.name %></p>
              <button type="button" class="btn btn-primary">
                <%= link_to 'New test', new_project_test_path(project.id) %>
              </button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
</div>
</div>
</div>
</div> -->

<h1>---------------------</h1>
<h1><%= @organization.name %></h1>
<div class="box">
<div class="d-flex">
<div class= "card">
  <%= image_tag "place-graph.png", :class => "fake_image"%>
  </%>
</div>
<div class= "boxed">
 <div class= "card_orga">
      <div class="orga-section-headline d-flex">
        <h3><i class="fas fa-money-check-alt" id="menu-icon"></i> Credits <%= @organization.monthly_credits %>/month</h3>
        <%= link_to "Extra credits", "#", class: "btn btn-primary"  %>
      </div>

      <div id="credits_display" class="d-flex">
          <div>
            <div class="card-header">Current credits</div>
            <div class="card-details-title card-details-title-center"><h2><%= @organization.current_credits %></h2></div>
          </div>
      </div>
    </div>

    <div class= "card_orga">
      <div class="orga-section-headline d-flex">
        <h3><i class="fas fa-user-tie" id="menu-icon"></i> Users</h3>
          <%= link_to "New user", new_organization_user_path, class: "btn btn-secondary"  %>
      </div>
      <div class="d-flex">
      <div div id="credits_display" class="d-flex">
        <div class="home-user">
          <i class="far fa-user-circle"></i>
          <h2 class="card-details-title-center"><%= @organization.users.count %></h2>
        </div>
      </div>
      <div class="box-user">
        <% @organization.users.each do |user| %>
          <p><%= user.email %></p>
        <% end%>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="box">
        <% @projects.each do |project| %>
        <div class= "card_orga">
          <div class="card-header">

            <h4><%= project.name.capitalize %>  | <%= link_to '<i class="far fa-eye"></i>'.html_safe, project_path(project) %>
            </h4>
          </div>

          <div class="card-details-title">
            <% if project.tests.exists? %>
            <h4><%= project.tests.count %> tests</h4>
          <% raise %>
              <% error = [] %>
              <% project.tests.each do |test| %>

                <h6><%= test.name.capitalize %> | <%= link_to '<i class="fas fa-search-plus"></i>'.html_safe, project_test_path(project, test) %> </h6>
                  <% raise %>
                <div class="card-details-content">
                  <p>
                    <i class="fas fa-hourglass-half"></i>
                    <%= test.frequency.capitalize %>
                  </p>
                  <p>
                    <i class="far fa-calendar-alt"></i> <%= test.created_at %>
                  </p>
                </div>
              <% end %>
            <% else %>
              <p>There isn't any test yet in <%= project.name %></p>
              <button type="button" class="btn btn-primary">
                <%= link_to 'New test', new_project_test_path(project.id) %>
              </button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

<h1>jkefjkfkj</h1>
