<h1><%= @organization.name %></h1>
<div class="box">
<div class="d-flex">
<div class= "card">
    <canvas
    class="graph"
    id="chart"
    data-chart-labels="<%= @chart_data_labels.to_json %>"
    data-chart-incorrect="<%= @chart_data_incorrect.to_json %>"
    data-chart-correct="<%= @chart_data_correct.to_json %>"
    >
    </canvas>

  </%>
</div>
<div class= "boxed">
 <div class= "card_orga">
      <div class="orga-section-headline d-flex">
        <h3><i class="fas fa-money-check-alt" id="menu-icon"></i> Credits <%= @organization.monthly_credits %>/month</h3>
        <%= link_to "Extra credits", "#", class: "btn btn-primary"  %>
      </div>

      <div id="credits_display" class="d-flex">
          <div>
            <div class="card-header">Current credits</div>
            <div class="card-details-title card-details-title-center"><h2><%= @organization.current_credits %></h2></div>
          </div>
      </div>
    </div>
    <div class= "card_orga">
      <div class="orga-section-headline d-flex">
        <h3><i class="fas fa-user-tie" id="menu-icon"></i> Users</h3>
          <%= link_to "New user", new_organization_user_path, class: "btn btn-secondary"  %>
      </div>
      <div class="d-flex">
      <div div id="credits_display" class="d-flex">
        <div class="home-user">
          <i class="far fa-user-circle"></i>
          <h2 class="card-details-title-center"><%= @organization.users.count %></h2>
        </div>
      </div>
      <div class="box-user">
        <% @organization.users.each do |user| %>
          <p><%= user.email %></p>
        <% end%>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="box">
  <div class="d-flex">
    <% @projects.each do |project| %>
      <%= link_to project_path(project) do %>
        <div class="card-header2">
          <% error = 0 %>
          <% tests = [] %>
          <h4><%= project.name.capitalize %> | <i class="far fa-eye"></i></h4>
          <% if project.tests.exists? %>
              <% project.tests.each do |test| %>
                  <% tests << test.name.capitalize %>
                  <% a = test.results.last %>
                  <% error += a.number_incorrect_values %>
              <% end %>
          <% end %>
          <strong><div class='circle'><p><div class="containt"><%= error %></div></p></div> </strong>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
