
<div class="container form-devise">

  <h1>Set your test for <%= current_user.organization.name %>!</h1>

  <%= simple_form_for([:project, @test]) do |f| %>

    <div class="form-inputs">
      <%= f.input :name, placeholder: 'e.g. "menu click events"', :label => "What's the name of your test?" %>

      <%= f.input :frequency, as: :select, collection:
        [['Daily', 'daily'],
        ['Weekly (available soon)', 'weekly'],
        ['Monthly (available soon)', 'monthly']],
        :label => "At which frequency should your test run?"
      %>

      <%= f.input :ga_report_type, as: :select, collection:
        # [['Enhanced e-commerce', 'eec'],
        # ['Events', 'events'],
        # ['Goals', 'goals'],
        # ['Custom dimensions', 'cd']],
        [['Event Category (available soon)', 'event_category'],
        ['Event Action (available soon)', 'event_action'],
        ['Event Label (available soon)', 'event_label'],
        ['Custom Dimension', 'custom_dimension'],
        ['EEC - Product ID (available soon)', 'product_id'],
        ['EEC - Product Name (available soon)', 'product_name'],
        ['EEC - Product Brand (available soon)', 'product_brand']],
        :label => "What's the type of your test?",
        wrapper_html: { id: 'password' }
      %>

      <div class="test_selector" id="event_category">
        <%= f.input  :event_category_regex, as: :text, placeholder: '', :label => "Event Category (Regex)"  %>
      </div>

      <div class="test_selector" id="event_action">
        <%= f.input  :event_action_regex, placeholder: '', :label => "Event Action (Regex)"  %>
      </div>

      <div class="test_selector" id="event_label">
        <%= f.input  :event_label_regex, placeholder: '', :label => "Event Label (Regex)"  %>
      </div>

      <div class="test_selector" id="product_id">
        <%= f.input  :eec_product_id_regex, placeholder: '', :label => "Product ID (Regex)"  %>
      </div>

      <div class="test_selector" id="product_brand">
        <%= f.input  :eec_product_brand_regex, placeholder: '', :label => "Product Brand (Regex)"  %>
      </div>

      <div class="test_selector" id="product_name">
        <%= f.input  :eec_product_brand_regex, placeholder: '', :label => "Product Name (Regex)"  %>
      </div>

      <div class="test_selector" id="custom_dimension">
        <%= f.input  :cd_regex, as: :text, placeholder: '', :label => "Custom dimension (Regex)"  %>
        <%= f.input  :cd_index, as: :text, placeholder: '', :label => "Custom dimension Index"  %>
        <%= f.input  :cd_scope, as: :text, placeholder: '', :label => "Custom dimension Scope"  %>
      </div>

    </div>
    <div class="form-actions">
      <%= f.button :submit, 'Create test', class: 'btn btn-primary' %>
    </div>
  <% end %>
  </div>
</div>
