

<div class="container test-results">



      <div class="container">
        <div class="img-test"><%= image_tag "analystics.jpg" %></div>
      </div>
<%= link_to "Back to #{current_user.organization.name}", organization_path, class:"btn btn-warning" %>
<div class="row">
    <div class="col-xl-12">

      <h2><%=@test.name %></h2>

      <h3>Test details</h3>
      <div class="card background">
        <p> Test type : <%= @test.ga_report_type.capitalize %></p>
        <p> Regex used : "<%= @test.event_category_regex %>"</p>
      </div>

    <% if @last_result == nil %>
      <p> Sorry,<strong> No result yet</strong> 😢 <br>Come back later</p>
    <% else %>
     </div>

  </div>

        <br>
        <br>
         <div class="container">
        <div class="img-run-detail"><%= image_tag "analytics1.jpg" %></div>
      </div>
   <h3>Last run details</h3>

   <!--  <div class="col-sm-12"> -->

<div class=" card background">
    <div class="row">
      <div class="col-xl-12">
          <div class="test .d-flex">
              <div class="date-run d-flex">
                <div class="card result ">
                  <div class="title">
                  <h5><i class="far fa-calendar-alt"></i> Date</h5>
                  </div>
                  <p> <i class="far fa-calendar-alt"> </i> <%= @last_result.created_at %></p>
                </div>
              </div>
          </div>
        </div>
    </div>




  <div class="row">
    <div class="col-xl-12">
            <div class="test .d-flex">
              <div class="date-run d-flex">
                <div class="card result ">
                  <div class="title">
                  <h5>Total transactions</h5>
                  </div>
                  <p><%=  @last_result.number_total_values %></p>
                </div>
              </div>
          </div>
    </div>
  </div>





      <div class="row">
        <div class="col-xl-12">
          <div class="test  d-flex justify-content-center">
                  <div class="card result">
                     <div class="title">
                    <h5><i class="fas fa-times"></i> Total incorrect transactions </h5>
                    </div>
                    <div class="test-content">
                     <p><%= @last_result.number_incorrect_values %></p>
                     </div>
                  </div>
                  <div class="card result">
                    <div class="title">
                    <h5>Hits delta / previous run</h5>
                    </div>
                    <p> Absolute : <%= diff_between_results(@last_result, @before_last_result) %> transactions</p>
                    <p> Percentage : <%= percentage_between_results(@last_result, @before_last_result) %> %
                    </p>
                  </div>
            </div>
          </div>
      </div>
  </div>



<!-- </div> -->

          <!-- <div class="first-result">
            <div class="test-name">
                  <h5>Top 3 incorrect values</h5>
                  <div/>

 <div class="test-name">
                  <h6>“Moogle Tee White”</h6>
                   <p>3 transactions</p>
          <div/>
 <div class="test-name">
                  <h6>“GGGGDSSSS”</h§>
                      <div/>
                <div class="test-name">
                   <p>2 transactions</p>
                   <h6>“Google Large Tote Canvas”</h6>
                  <p>2 transactions</p>
                </div>
 -->
        <br>
        <br>

         <div class="container">
        <div class="img-5run-detail"><%= image_tag "analytics2.jpg" %></div>
      </div>

  <h3>Last 5 runs</h3>

  <div class=" card background">
    <div class="container">
      <!-- <div class="row"> -->
        <div class="col-xl-12-">
          <div class="last-test ">
            <% @test.results.last(5).each do |result| %>
              <div class="card result">
                <h5><i class="far fa-calendar-alt"></i> <%=result.created_at%></h5>
                <h6><i class="fas fa-check"></i> Correct  values  </h6> <p><%= result.number_total_values %></p>
                <h6><i class="fas fa-times"></i> Incorrect values </h6> <p><%= result.number_incorrect_values %></p>
              </div>

                <% end %>

                <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- -------------------------------setup chart js-------------------------------- -->
  <canvas id="myChart" width="400" height="150"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
 var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        datasets: [{
            label: 'Correct values',
            backgroundColor: 'rgb(125, 186, 122)',
            // borderColor:'rgba(255, 99, 132, 1)',
            data: [20, 100, 5, 200, 20, 30, 800],
            // data : my_js_object
             },
             {
            label: 'Incorrect values',
            backgroundColor: 'rgb(255, 79, 78)',
            // borderColor:'rgba(255, 99, 132, 1)',
            data: [0, 10, 5, 2, 20, 30, 567]
             }]


    },



    options: {}
});


</script>












