
<%= link_to "back to organization page", organization_path %>
 <div class="container test-results">

    <h2> <%= @test.name %></h2>
    <h4><%= @test.event_category_regex %></h4>
    <h4><%= @test.ga_report_type.capitalize  %> </h4>
      <p> <strong> ------------------------------------------------------</strong></p>

<%= link_to "Back to #{current_user.organization.name}", organization_path %>

<% if current_user.role == 'admin' %>
  <%= link_to "Delete test", project_test_path, method: :delete %>
<% end %>

<div class="container">
  <h2>Test name : <%= @test.name %></h2>
  <h3>Test type : <%= @test.ga_report_type.capitalize %> </h3>
  <h3>REGEX used : <%= @test.event_category_regex %> </h3>

  <% if @last_result == nil %>
    <p>Sorry, No result yet 😢 <br>Come back later</p>
  <% else %>


      <tr>
        <h3>Last run details</h3>
      </tr>


           <!-- 1. Mobile full-screen, laptop Half-Half -->
    <!-- <div class="container">

      <div class="row">
        <div class="col-lg-6">
          <div class=" card date-result">
            <h4>Run date</h4>
          </div>
          <div class="card info">
              <p><%= @last_result.created_at %></p>
          </div>
        </div>
    </div> -->

          <div class="date-result">
            <h5>Run date</h5>
            <p><%= @last_result.created_at %></p>
          </div>


          <div class="results">
            <div class="first-result">
              <div class="result-name">
              <h5>Total transactions</h5>
              </div>
              <p><%= @last_result.number_total_values %></p>
            </div>
            <div class="first-result">
              <h5>Total incorrect transactions </h5>
              <p><%= @last_result.number_incorrect_values %></p>
            </div>
            <div class="first-result">
              <h5>delta / previous test run</h5>
              <p> <%= percentage_between_results(@last_result, @before_last_result) %> % soit ecart de <%= diff_between_results(@last_result, @before_last_result) %> transactions
              </p>
            </div>
          </div>


          <div class="second-result">
                  <h5>Top 3 incorrect values</h5>


                  <h6>“Moogle Tee White”</h6>

                  <p>3 transactions</p>

                  <h6>“GGGGDSSSS”</h§>
                  <p>2 transactions</p>

                  <h6>“Google Large Tote Canvas”</h6>
                  <p>2 transactions</p>

        </div>



        <p>  ------------------------------------------------------ </p>
        <h3>Last 5 runs</h3>

 <div class="last-result">
    <% @test.results.last(5).each do |result| %>
  <div class="last">

      <h5> <%=result.created_at%></h5>

    <h6>correct values </p> <p><%= result.number_total_values %></p>
    <h6>incorrect values </h6> <p> <%= result.number_incorrect_values %></p>
</div>
  <% end %>


<% end %>
 </div>

</div>
