<%= link_to "Back to #{current_user.organization.name}", organization_path, class:"btn btn-warning" %>

<% if @last_result == nil %>
  <p> Sorry,<strong> No result yet</strong> 😢 <br>Come back later</p>
<% else %>



  <div class="container head-results">
    <div class="container">
      <div class="img-one"><%= image_tag "analystics.jpg" %>
        <h2><%=@test.name %>
          <div class="edit">
          <button type="button" class="btn btn-warning">
          <%= link_to '✎ Edit', edit_project_test_path %>
          </button>
          </div>
        </h2>

      </div>
    </div>
  </div>



    <div class="container info-results">
      <P><i class="far fa-calendar-alt"> </i> <%= @last_result.created_at.strftime"%d %B %Y at %H:%M" %></P>
      <p> Test type :  <%= @test.ga_report_type.capitalize %></p>
      <p> Regex used : <%= @test.event_category_regex %> </p>
    </div>



          <div class="position-h4">
              <h3>Last Run</h3>
          </div>

  <div class="container test-results d-flex">
    <div class=" cards-results">

          <div class="card card-test title ">

          <div class="position-h5">
          <h5> All run details </h5>
          </div>
        </div>

        <div class="card card-project card-test ">
          <h4><%= @last_result.number_total_values %></h4>
          <p>Total transactions</p>
        </div>

        <div class="card card-project card-test ">
          <h4> <%= @last_result.number_incorrect_values %> </h4>
          <p>Total incorrect transactions</p>


        </div>

        <div class="card card-project card-test ">
          <h6>Percentage: <strong><%=percentage_between_results(@last_result, @before_last_result) %> %</strong> </h6><h6>Transactions: <strong> <%= diff_between_results(@last_result, @before_last_result)%></strong></H6>
          <p>Hits delta / previous run</p>
        </div>
    </div>
  </div>

<div class="container ">
  <div class=" card background-test">
      <div class="position-h4">
      <h3>Previous 5 runs results</h3>
      </div>
      <canvas
      id="chart"
      data-chart-labels="<%= @chart_data_labels.to_json %>"
      data-chart-incorrect="<%= @chart_data_incorrect.to_json %>"
      data-chart-correct="<%= @chart_data_correct.to_json %>"
      >
      </canvas>
  </div>
</div>
  <% end %>






