<div class="link">
<%= link_to "#{current_user.organization.name}", organization_path, class:"btn btn-warning" %>
</div>


<% if @last_result == nil %>
  <div class="container form-devise d-flex-align-items-center">
    <i class="fas fa-history"></i>
    <p> Sorry,<strong> No result yet</strong> 😢 <br>Come back later</p>
  </div>
<% else %>




          <div class="container">
             <h1><%=@test.name %><div class="edit d-flex">
                      <button type="button" class="btn btn-primary">
                      <%= link_to '✎ Edit', edit_project_test_path %>
                      </button></h1>
                  <h2> <%= link_to 'Project name', organization_path  %>  </h2>

                    </div>
          </div>












<div class="container">
  <div class="result d-flex ">




        <div class="card-result">
          <div class="results d-flex">
           <div class="circle"><i class="far fa-calendar-alt"> </i></div>
          <div class="result-info">
              <h3>Date run</h3>
              <P><%= @last_result.created_at.strftime"%d %B %Y at %H:%M" %></P>
          </div>
          </div>
        </div>






      <div class="card-result ">
        <div class="results d-flex">
          <div class="circle"><i class="fas fa-chart-line"></i></div>
            <div class="result-info">
              <h3>Test type</h3>
              <p><%= @test.ga_report_type.capitalize %></p>
            </div>

        </div>
      </div>



      <div class="card-result">
        <div class="results d-flex">
          <div class="circle"><i class="fas fa-laptop-code"></i></div>
            <div class="result-info">
               <h3>Regex </h3>
                <p><%= @test.event_category_regex %> </p>
            </div>
        </div>
t
      </div>

  </div>
</div>


<br>
<br>

<div class="container chart">
      <!-- <h2>Previous last 5 runs </h2> -->


      <canvas
      id="chart-double-bar"
      data-chart-labels="<%= @chart_data_labels.to_json %>"
      data-chart-incorrect="<%= @chart_data_incorrect.to_json %>"
      data-chart-correct="<%= @chart_data_correct.to_json %>"
      >
      </canvas>


  <% end %>


    <div class="result-container">


      <div class="card p-0">
        <div class="card-result-header"><p>Total transactions</p></div>
          <div class="card-result-detail"><h6><%= @last_result.number_total_values %></h6></div>
      </div>

      <div class="card p-0">
        <div class="card-result-header"><p>Total incorrect </p></div>
          <div class="card-result-detail"> <h6> <%= @last_result.number_incorrect_values %> </h6></div>
      </div>

      <div class="card p-0">
        <div class="card-result-header"> <p>Hits delta / previous run</p></div>
      <div class="card-result-detail"><h6><strong><%=percentage_between_results(@last_result, @before_last_result) %> %</strong> </h6></div>
      <div class="card-result-detail"><h6><strong> <%= diff_between_results(@last_result, @before_last_result)%></strong></H6></div>
      </div>
    </div>
</div>

