<div class="link">
  <%= link_to "Back", organization_path, class:'btn btn-warning' %>
</div>

<div class="container form-devise">

  <h1>Add a user!</h1>

  <%= simple_form_for([:organization, @user]) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, placeholder: 'eg.bob@gmail.com', :label => "What's the new user's email?" %>
      <%= f.input :password, placeholder: 'Password', :label => "What's the new user's password?" %>
    </div>

    <div class="form-actions">
     <%= f.button :submit, 'New user', class: 'btn btn-primary' %>
    </div>
  <% end %>
  </div>
</div>
